# Next.js build output
/.next/
/out/
/node_modules/
*.tsbuildinfo

# MkDocs build output (legacy)
/legacy/site/

# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
pip-wheel-metadata/

# Editor and OS files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
*.code-workspace
.vscode/
temp
drafts/

# Miscellaneous
*.log
*.bak
*.tmp
nul
temp/
